<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="text-2xl font-bold text-center mt-5">
        Welcome to the Chatting Website.
    </div>
    
    <div class="text-2xl text-left ml-5 mt-20">
        Get started within few steps.
    </div>
    <div class="text-center mt-10">
        <a href="{% url 'chat:signup' %}">
            <button class="text-3xl underline hover:border-[3px] border-black ">Click Me</button>
        </a>
    </div>
</body>
</html>